[submodule "ext/pybind11"]
	path = ext/pybind11
	url = https://github.com/wjakob/pybind11
[submodule "ext/eigen"]
	path = ext/eigen
	url = https://github.com/RLovelett/eigen
[submodule "ext/tbb"]
	path = ext/tbb
	url = https://github.com/wjakob/tbb
[submodule "ext/tinyformat"]
	path = ext/tinyformat
	url = https://github.com/wjakob/tinyformat
[submodule "ext/filesystem"]
	path = ext/filesystem
	url = https://github.com/wjakob/filesystem
